@radius: 25px;
@diameter: @radius * 2;
@borderWidth: 5px;
@width: 150px;

@mainColor: #00CC97;

button {
  border: 0;
  cursor: pointer;
  &:focus, &:focus {
    border: 0;
    outline: 0;
  }
}

.hide{
  opacity: 0;
}

.wrapper {
  position: relative;
  width: @width;
}

.loading {
  display: flex;
  opacity: 0;
  transition: opacity .5s;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  pointer-events: none;

  &-show {
    opacity: 1;
  }

  &-rect {
    width: @radius;
    height: @diameter;
    overflow: hidden;
    position: relative;
  }

  &-half-circle {
    position: absolute;
    width: @diameter;
    height: @diameter;
    border-radius: 50%;
    border: @borderWidth solid @mainColor;
    border-bottom: @borderWidth solid transparent;
    border-left: @borderWidth solid transparent;
    box-sizing: border-box;

    &-left {
      left: 0;
      transform: rotate(45deg);
      animation: left-half-rotate 1s linear .5s infinite;
      animation-fill-mode: forwards;
    }

    &-right {
      right: 0;
      transform: rotate(-135deg);
      animation: right-half-rotate 1s linear infinite;
      animation-fill-mode: forwards;
    }
  }
}

.btn {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  width: @width;
  height: @diameter;
  border-radius: @radius;
  background: 0;
  border: @borderWidth - 3 solid @mainColor;
  color: @mainColor;
  font-size: 14px;
  text-shadow: 0 0 1px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .15);
  transition: background .5s,color .5s;
  white-space: nowrap;
  overflow: hidden;

  &-after {
    width: @diameter;
    opacity: 0;
  }

  &-before-animation {
    background: @mainColor;
    color: #fff;
  }
}

.bounce{
  animation: bounce .3s;
}

@keyframes bounce {
  0%{
    transform: scale(1.05);
  }

  100%{
    transform: scale(1);
  }
}

@keyframes right-half-rotate {
  0% {
    transform: rotate(-135deg);
  }

  100% {
    transform: rotate(225deg);
  }
}

@keyframes left-half-rotate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}
